@import '../../../global.scss';

.middleDisplayData {
    width: 100%;
    text-align: center;

        div{
            float: left;
            width: 33.3%;

            p:first-child {
                @include fonts(#FFA640, 30px);
            }
            
            p:nth-child(2) {
                @include fonts(#8298B9, 18px);                
            }
        }
}

.middleFunctionPanel {
    @extend .middleDisplayData;
    
    button {
        width: 75%;
        height: 70px;
        background: #FFA640;
        color: #ffffff;
        letter-spacing: 5px;        
        @include radius(100px, 100px, 100px, 100px);
        @include border;
        @include fonts(#ffffff, 30px);
    }    
}
