@font-face {
  font-family: "Kimberley";
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
}

@mixin position() {
    position: relative;
    right: 0;
    left: 0;
}

@mixin radius($topRight, $topLeft, $bottomRight, $bottomLeft) {
    -webkit-border-top-left-radius: $topLeft;
    -webkit-border-top-right-radius: $topRight;
    -webkit-border-bottom-left-radius: $bottomLeft;
    -webkit-border-bottom-right-radius: $bottomRight;
    -moz-border-radius-topleft: $topLeft;
    -moz-border-radius-topright: $topRight;
    -moz-border-radius-bottomleft: $bottomLeft;
    -moz-border-radius-bottomright: $bottomRight;
    border-top-left-radius:$topLeft;
    border-top-right-radius:$topRight;
    border-bottom-left-radius:$bottomLeft;
    border-bottom-right-radius:$bottomRight;
}

@mixin border() {
    border: 0.5px solid #f8f8ff;
    box-shadow: 0px 0px 5px 0.5px #f8f8ff;    
}

@mixin fonts($color, $size) {
    font-family: 'Montserrat', sans-serif;
    color: $color;
    font-size: $size;
    line-height: 5px;
}

@mixin icons ($left, $top, $right) {
    position: absolute;
    left: $left;
    top: $top;
    right: $right;
}

@mixin placeholder () {
    bottom: 3px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    letter-spacing: 5px;
    color: #FFA640;
    font-size: 20px;
    opacity: 0.5;
}