@import '../../global.scss';

.headerPanel {
    width: 85%;
    height: 350px;
    clear:both;
    margin: 20px auto 0 auto;
    background: #ffffff;
    @include position;
    @include border;
    @include radius(5px, 5px, 0, 0);
}

.modal {
    width: 100%;
    text-align: center;
    
    div:first-child {
        display: inline;
        
        div:nth-child(2) {
            position: absolute;
            top: 15px;
            right: 20px;
        }
    }
    
    p {
        font-size: 24px;
    }
}