@import './global.scss';

.app{
    width: 800px;
    height: 1100px;
    margin: 45px auto 17px auto;
    @include position;
    @include border;
}

.app > div:first-child{
    width: 100%;
    background: #002C71;
    height: 200px;
    @include position;
    @include border;
    @include radius(5px, 5px, 0, 0);
}

@media (max-width: 800px) {
    .app {
        width: 100%;
    }
}