@import '../../global.scss';

.postsPanel {
    width: 85%;
    height: 680px;
    top: 100px;
    clear: both;
    margin: 20px auto 0 auto;
    background: #ffffff;
    @include position;
    @include border;
    @include radius(5px, 5px, 0, 0);
}

.postsContent {
    overflow-y: scroll;
    height: 550px;
}

.postHeader {  
    height: 80px;
    padding: 10px;

    img, p {
        display: inline;
    }

    img {
        width: 80px;
        height: auto;
        float: left;
    }

    p {
        color: #002C71;
        line-height: 80px;
    }

    p:nth-child(2){
        margin-left: 5px;
    }

    p:nth-child(3) {
        float: right;
    }
}

.postBody {
    padding:10px;    
} 
    
.postsPanelFooter {
    p {
        padding-left: 10px;
        color: #8298B9;
    }
    
    textarea {
        min-width: 99%;
        min-height: 70px;
        border: none;
        border-bottom: 1px solid #8298B9;
        box-shadow: 0 4px 2px -2px gray;
        -webkit-box-shadow: 0 4px 2px -2px gray;
        -moz-box-shadow: 0 4px 2px -2px gray;
        
    }
    
    textarea::placeholder {
        @include placeholder;
    }
    textarea::input-placeholder {
	@include placeholder;
    }
    textarea::-webkit-input-placeholder { 
	@include placeholder;
    }
    textarea::-moz-placeholder { 
	@include placeholder;
    }
    textarea:-moz-placeholder {
	@include placeholder;
    }
    textarea:-ms-input-placeholder { 
	@include placeholder;
    }

    button {
        background: #FFA640;
        float: right;
        width: 200px;
        height: 50px;
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 5px;
        margin-top: 5px;
        @include radius(50px, 50px, 50px, 50px);
        @include border;
    }
}
