@import '../../../global.scss';

.topDisplayData {
    width: 100%;
    text-align: center;
    
    p:nth-child(2) {
        @include fonts(#002C71, 24px);
    }
    
    p:nth-child(3) {
        @include fonts(#8298B9, 18px);
    }

    .avatar {
        width: 150px;
        height: 150px;
        margin-top: -50px;
    }    
}

.topFunctionPanel {
        width: 100%;
        @include position;
        
        div, div img {
            width: auto;
            height: 24px;
        }
        
        div:first-child{
            @include icons(auto, 5px, 5px);
        }
        
        div:nth-child(2){
            @include icons(430px, 120px, auto);
        }
}

@media (max-width: 800px) {
    .topFunctionPanel > div:nth-child(2) {
       @include icons (77%, 120px, auto)
    }
}